@{
    ViewBag.Title = "CompanyEn";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>COMPANY</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li>COMPANY</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
        <div class="container">
            <h4>
                AM-PM Solutions Global Management is your essential partner about getting solutions in the management of your business from an organizational and integrated point of view.
                <br><br>
                We bring the best assets to your company to address the challenges of dealing with projects from the beginning to the completion taking into account all the aspects of the process.
                <br><br>
                We are passionate about bringing the right resource to fit the required role applying strategies according to your current needs.
            </h4>
            <br><br>
            <div class="titulos">ABOUT US</div>
            <br>
            <h4>
                We focus on the needs and challenges of our clients as we consider each of them has their own story, policies, and goals.
                <br><br>
                We are proud of helping companies to develop and manage their projects using our expertise within specific fields to get the expected results.
                <br><br>
                Our project managers count on the tools to support businesses dealing and completing projects on schedule and within budget.
            </h4>
        </div>
    </section>
</main><!-- End #main -->
