
@{
    ViewBag.Title = "CompanyEs";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>EMPRESA</h2>
                <ol>
                    <li><a href="@Url.Action("IndexEs","Home")">HOME</a></li>
                    <li>EMPRESA</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
        <div class="container">
            <h4>
                AM-PM Solutions Global Management es tu colaborador esencial para obtener soluciones en la gestión de tu negocio desde un punto de vista integrado y organizativo.
                <br><br>
                Brindamos los mejores recursos y herramientas a tu empresa para encarar los desafíos de lidiar con proyectos desde su inicio hasta su finalización teniendo en cuenta todos los aspectos del proceso.
                <br><br>
                Nos apasiona encontrar y brindar el recurso indicado para que encaje en el rol requerido; para ello aplicamos estrategias que se aplican a sus necesidades actuales.
            </h4>
            <br><br>
            <div class="titulos">ACERCA DE NOSOTROS</div>
            <br>
            <h4>
                Nos enfocamos en las necesidades y desafíos de nuestros clientes ya que consideramos que cada uno de ellos tiene su propia historia, políticas y objetivos.
                <br><br>
                Nos sentimos orgullosos de ayudar a las empresas a desarrollar y gestionar sus proyectos utilizando nuestra experiencia y dominio dentro de campos específicos para obtener los resultados esperados.
                <br><br>
                Nuestros gestores de proyecto cuentan con las herramientas para dar apoyo al negocio tratando y completando proyectos en tiempo y forma, y dentro del presupuesto establecido.
            </h4>
        </div>
    </section>
</main><!-- End #main -->
