
@{
    ViewBag.Title = "IndustriesTraslationEn";
}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>INDUSTRIES</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="@Url.Action("IndustriesEn","Home")">INDUSTRIES</a></li>
                    <li>DETAIL</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">

            <div class="portfolio-description">
                <h2>PROJECT MANAGEMENT IN TRANSLATION AND LOCALIZATION INDUSTRY</h2>
                <h4>
                    We help language service providers to manage and run their projects bringing the best assets to deal with the whole process. We also own accounts from clients to help them in getting the final product translating, formatting the files, and doing the PM service from quote to delivery applying the proper processes in order the companies can delegate several tasks to us.
                    <br><br>
                    We bring an integrated service oriented to the companies needs developing specific strategies and organizational skills. We focused on the premise of saving time and money when dealing with projects offering proper workflows and solutions as well as founding ways to improve methodologies.

                    <br><br><u><b>Freelance Translators</b></u>

                    <br><br>

                    We count on a team of freelancers who have worked in different projects together for more than 10 years. Thanks to this wonderful team we can also offer:

                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Translation, edition, and proofreading of document material
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Machine Translation
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Creation of glossaries and TM Maintenance
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Creation and adaptation of workflows and processes

                </h4>

                <br><br>

                <a href="@Url.Action("IndustriesEn","Home")"><i class="icofont-arrow-left"></i> <B>OTHER INDUSTRIES</B></a>

            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
