
@{
    ViewBag.Title = "IndustriesEs";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>INDUSTRIAS</h2>
                <ol>
                    <li><a href="@Url.Action("IndexEs","Home")">HOME</a></li>
                    <li>INDUSTRIAS</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 video-box">
                    <img src="~/Content/ImgSpanish/img/industries/pmtli.jpg" class="img-fluid">
                </div>
                <div class="col-lg-8 d-flex flex-column justify-content-center about-content">
                    <h2 class="titulos"><b>GESTIÓN DE PROYECTOS EN LA INDUSTRIA DE LA TRADUCCIÓN Y LOCALIZACIÓN</b></h2>
                    <br>
                    <h4>
                        Colaboramos con proveedores de servicios lingüísticos en la gestión y conducción de sus proyectos...
                    </h4>
                    <br>
                    <a href="industrias-traduccion.html"><i class="icofont-arrow-right"></i> <B>VER MÁS</B></a>
                </div>
            </div>
        </div>
        <br><br>
        <br><br>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 video-box">
                    <img src="~/Content/ImgSpanish/img/industries/pmc.jpg" class="img-fluid">
                </div>
                <div class="col-lg-8 d-flex flex-column justify-content-center about-content">
                    <h2 class="titulos"><b>GESTIÓN DE PROYECTOS EN EMPRESAS EN GENERAL</b></h2>
                    <br>
                    <h4>
                        Colaboramos con empresas en general para organizar su estructura de acuerdo con el propósito y base de sus políticas...
                    </h4>
                    <br>
                    <a href="industrias-general.html"><i class="icofont-arrow-right"></i> <B>VER MÁS</B></a>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->
</main><!-- End #main -->
