
@{
    ViewBag.Title = "IndustriesTraslationEs";
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>INDUSTRIAS</h2>
                <ol>
                    <li><a href="@Url.Action("IndexEs","Home")">HOME</a></li>
                    <li><a href="@Url.Action("IndustriesEs","Home")">INDUSTRIAS</a></li>
                    <li>DETALLE</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2>GESTIÓN DE PROYECTOS EN LA INDUSTRIA DE LA TRADUCCIÓN Y LOCALIZACIÓN</h2>
                <h4>
                    Colaboramos con proveedores de servicios lingüísticos en la gestión y conducción de sus proyectos brindando los mejores recursos para lidiar con el proceso completo. También admitimos cuentas de clientes finales para brindar el producto traducido, formateado y con el servicio de gestión que va desde la cotización hasta su entrega final lista para su publicación aplicando los procesos apropiados para que su empresa pueda delegar en nosotros varias tareas.
                    <br><br>
                    Ofrecemos un servicio integrado y orientado a las necesidades de cada empresa desarrollando estrategias específicas y habilidades organizativas. Nos enfocamos en la premisa de ahorrar tiempo y dinero cuando tratamos con proyectos ofreciendo flujos de trabajos apropiados y soluciones así como también identificar las formas de mejorar las metodologías.
                    <br><br><u><b>Traductores Freelance</b></u>
                    <br><br>
                    Contamos con un equipo de freelancers que han trabajado juntos en diferentes proyectos por más de 10 años. Gracias a este maravilloso equipo también ofrecemos:
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Traducción, edición y revisión de material en documentos
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Traducción automática
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Creación de glosarios y mantenimiento de memorias de traducción
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Creación y adaptación de flujos de trabajo y procesos
                </h4>
                <br><br>
                <a href="@Url.Action("IndustriesEs","Home")"><i class="icofont-arrow-left"></i> <B>OTRAS INDUSTRIAS</B></a>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
