
@{
    ViewBag.Title = "IndustriesGeneralEn";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>INDUSTRIES</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="@Url.Action("IndustriesEn","Home")">INDUSTRIES</a></li>
                    <li>DETAIL</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2 class="titulos">PROJECT MANAGEMENT IN GENERAL COMPANIES</h2>
                <h4>
                    We help companies in general to organize their structure according to the base or purpose of their policies.
                    <br><br>We define activities according to the roles of the staff, and also state the responsibilities and tasks of each role in order the company runs smoothly in the operational, administrative, and general aspect.
                    <br><br>We create and improve the current workflows of the company applying technology to get reports and results about the efficiency of the company operation.
                </h4>
                <br><br>
                <a href="@Url.Action("IndustriesEn","Home")"><i class="icofont-arrow-left"></i> <B>OTHER INDUSTRIES</B></a>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
