
@{
    ViewBag.Title = "servicesConsultancyEn";
}
<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>SERVICES</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                    <li><a href="@Url.Action("ServicesEn","Home")">SERVICES</a></li>
                    <li>DETAIL</li>
                </ol>
            </div>
        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2>CONSULTANCY</h2>
                <h4>
                    Consultancy is the practice of giving advice to people and companies about a specific field. It is a tremendous value that a company can add from people who have a high level of expertise in a particular area. With this service, your company can solve problems, improve current methodologies, and get the desired state by reaching their main goals.
                    <br><br>
                    Our main basic tasks:
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i> Analyze the current needs of the companies to get the correct processes to be applied to its organization in order to help them and their people to perform to maximum potential
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Bring practices to get operational efficiency
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Develop specific workflows to comply with the proper productivity of the company
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Apply up-to-date technology to keep businesses running smoothly in the dynamic environment
                    <br><br>
                    <i class="icofont-long-arrow-right text-naranja"></i>	Bring support to Human Resources Department
                </h4>
                <br><br>
                <a href="@Url.Action("ServicesEn","Home")"><i class="icofont-arrow-left"></i> <B>OTHER SERVICES</B></a>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
