
@{
    ViewBag.Title = "ServicesConsultancyEs";
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>SERVICIOS</h2>
                <ol>
                    <li><a href="@Url.Action("IndexEs","Home")">HOME</a></li>
                    <li><a href="@Url.Action("ServicesEs","Home")">SERVICIOS</a></li>
                    <li>DETALLE</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">
            <div class="portfolio-description">
                <h2 class="titulos">CONSULTORÍA</h2>
                <h4>
                    Consultoría es la práctica de asesorar y aconsejar a las empresas o personas sobre un campo determinado. Es un valor agregado de gran importancia que la empresa puede adquirir de personas que poseen un alto nivel de experiencia y dominio en un área particular. Con este servicio, su empresa puede resolver problemas, mejorar metodologías actuales y llegar a ese punto deseado alcanzando los objetivos principales.
                    <br><br>
                    Nuestras principales tareas básicas:
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i> Analizar las necesidades actuales de la empresa para encontrar los procesos adecuados que se deben aplicar en su organización y así ayudarla a alcanzar su máximo potencial
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Brindar prácticas para obtener eficiencia operativa
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Desarrollar flujos de trabajo específicos para cumplir con la productividad apropiada de la empresa
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Aplicar tecnología actualizada para que el negocio funcione sin inconvenientes en un ambiente dinámico
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Brindar apoyo al departamento de recursos humanos
                </h4>
                <br><br>
                <a href="@Url.Action("ServicesEs","Home")"><i class="icofont-arrow-left"></i> <B>OTROS SERVICIOS</B></a>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
