
@{
    ViewBag.Title = "ServicesProjectMangementEs";
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>SERVICIOS</h2>
                <ol>
                    <li><a href="@Url.Action("IndexEs","Home")">HOME</a></li>
                    <li><a href="@Url.Action("ServicesEs","Home")">SERVICIOS</a></li>
                    <li>DETALLE</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">

            <div class="portfolio-description">
                <h2 class="titulos">GESTIÓN DE PROYECTOS</h2>
                <h4>
                    Gestionar proyectos es la práctica de aplicar conocimiento, habilidades, procesos, recursos, métodos, experiencia, herramientas y tecnología para lograr los propósitos y objetivos de cada proyecto que van desde simples y claros hasta proyectos con mucha complejidad. El objetivo del gestor de proyectos es cumplir con todos los pasos y aspectos de cada proyecto dentro de un período estipulado y con el presupuesto establecido. Los gestores de proyectos tiene un rol clave de conducir a todas las personas que se ven involucradas en cada proyecto y de ser responsable desde el paso inicial hasta la entrega final al cliente.
                    <br><br>
                    Nuestras principales tareas básicas:
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Crear el plan inicial
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i> Gestionar y conducir proyectos desde el plan inicial hasta su entrega
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Asignar los mejores recursos que se basan en las necesidades de cada proyecto
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Coordinar a las personas y actividades relacionadas para asegurar la calidad y la entrega en tiempo y forma dentro del presupuesto establecido
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Monitorear los procesos y estándares de la operación
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Identificar posibles situaciones en los flujos de trabajo y sistemas para aplicar prácticas de mejoramiento
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i> Elaborar reportes a aplicar metodologías apropiadas para que el proyecto siga su curso
                    <br><br>
                    <i class="icofont-star-alt-1 text-naranja"></i>	Brindar un servicio al cliente excepcional antes, durante y luego de la entrega de cada proyecto
                </h4>
                <br><br>
                <a href="@Url.Action("ServicesEs","Home")"><i class="icofont-arrow-left"></i> <b>OTROS SERVICIOS</b></a>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
